flow.json
[
    {
        "id": "fc4b95a858a768bc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa9e989ce67deadf",
        "type": "inject",
        "z": "fc4b95a858a768bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 70,
        "wires": [
            [
                "c2a33d1cf8e16b40"
            ]
        ]
    },
    {
        "id": "c23e754a628e54e5",
        "type": "debug",
        "z": "fc4b95a858a768bc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "c55fe08520440bd7",
        "type": "catch",
        "z": "fc4b95a858a768bc",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 130,
        "wires": [
            [
                "c2a33d1cf8e16b40"
            ]
        ]
    },
    {
        "id": "c2a33d1cf8e16b40",
        "type": "link out",
        "z": "fc4b95a858a768bc",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 255,
        "y": 100,
        "wires": []
    },
    {
        "id": "8daf5be4caeb31b3",
        "type": "link in",
        "z": "fc4b95a858a768bc",
        "name": "link in 1",
        "links": [],
        "x": 455,
        "y": 100,
        "wires": [
            [
                "c23e754a628e54e5"
            ]
        ]
    }
]